@import url("https://fonts.googleapis.com/css?family=Lilita+One|Roboto&display=swap");
body { overflow: hidden; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0; margin: 0; }

i { cursor: pointer; }

#backdrop { display: none; position: absolute; background: rgba(0, 0, 0, 0.4); height: 100vh; width: 100vw; z-index: 110; -webkit-transition: 0.5s; transition: 0.5s; }

.main-header { position: fixed; width: 100vw; max-width: 100%; z-index: 100; height: 5rem; background: #74b9ff; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 1rem; }

.navbar-brand { font-size: 3rem; font-family: 'Lilita One', cursive; padding: 0.5rem; }

.nav-links { display: none; }

@media (min-width: 60rem) { .nav-links { display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.nav-link { display: block; margin: 0 1rem; font-size: 1.2rem; border-bottom: 2px solid transparent; padding: 0.5rem 0; -webkit-transition: 0.25s; transition: 0.25s; }

.nav-link:hover { border-bottom: 3px solid white; }

.nav-link:hover a { color: white; }

.nav-link--highlighted { margin: 0; margin-left: 1.5rem; margin-right: 2rem; font-size: 1.5rem; border: none; padding: 0.5rem 1rem; background: #0a79df; border-radius: 32px; cursor: pointer; width: 12rem; height: 3rem; text-align: center; }

.nav-link--highlighted a { color: white; }

.nav-link--highlighted:hover { border: 3px solid white; }

a { text-decoration: none; color: black; font-family: 'Roboto', sans-serif; }

a:hover { color: white; }

.hamburger { color: #2c3335; }

@media (min-width: 60rem) { .hamburger { display: none; } }

.mobile-nav { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; width: 80vw; right: 0; top: 0; z-index: 120; height: 100vh; background: #fff; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-shadow: -8px 0px 15px -11px rgba(0, 0, 0, 0.75); box-shadow: -8px 0px 15px -11px rgba(0, 0, 0, 0.75); -webkit-transition: 0.5s; transition: 0.5s; }

.mobile-nav ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 30%; margin-top: 4rem; }

.mobile-nav ul > * { margin: 0; }

.mobile-nav ul .nav-link--highlighted { margin-top: 2rem; }

.mobile-nav #back-button { position: absolute; top: 1rem; left: 1rem; }

@media (min-width: 40rem) { .mobile-nav #back-button { left: 5rem; } }

@media (min-width: 60rem) { .mobile-nav { -webkit-transform: translateX(100%); transform: translateX(100%); } }

.hide { -webkit-transform: translateX(90vw); transform: translateX(90vw); }
