@import url('https://fonts.googleapis.com/css?family=Lilita+One|Roboto&display=swap');

$colors-map: (
	primary: #74b9ff,
	primary-dark: #0a79df,
	dark: #2c3335
);

@function colors($color) {
	@return map-get($map: $colors-map, $key: $color);
}

@mixin desktop-view {
	@media (min-width: 60rem) {
		@content;
	}
}
@mixin tab-view {
	@media (min-width: 40rem) {
		@content;
	}
}

body {
	overflow: hidden;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

i {
	cursor: pointer;
}

#backdrop {
	display: none;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	height: 100vh;
	width: 100vw;
	z-index: 110;
	transition: 0.5s;
}

.main-header {
	position: fixed;
	width: 100vw;
	max-width: 100%;
	z-index: 100;
	height: 5rem;
	background: colors(primary);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
}

.navbar-brand {
	font-size: 3rem;
	font-family: 'Lilita One', cursive;
	padding: 0.5rem;
}

.nav-links {
	display: none;

	@include desktop-view {
		display: flex;
		list-style: none;
		align-items: center;
	}
}
.nav-link {
	display: block;
	margin: 0 1rem;
	font-size: 1.2rem;
	border-bottom: 2px solid transparent;
	padding: 0.5rem 0;
	transition: 0.25s;
}
.nav-link:hover {
	border-bottom: 3px solid white;
}

.nav-link--highlighted {
	margin: 0;
	margin-left: 1.5rem;
	margin-right: 2rem;
	font-size: 1.5rem;
	border: none;
	padding: 0.5rem 1rem;
	background: colors(primary-dark);
	border-radius: 32px;
	cursor: pointer;
	width: 12rem;
	text-align: center;
	a {
		color: white;
	}
	&:hover {
		border: 3px solid white;
	}
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Roboto', sans-serif;
	&:hover {
		color: white;
	}
}

.hamburger {
	color: colors(dark);
	@include desktop-view {
		display: none;
	}
}

.mobile-nav {
	display: flex;
	position: absolute;
	width: 80vw;
	right: 0;
	top: 0;
	z-index: 120;
	height: 100vh;
	background: #fff;
	flex-flow: column;
	box-shadow: -8px 0px 15px -11px rgba(0, 0, 0, 0.75);
	transition: 0.5s;

	ul {
		display: flex;
		flex-flow: column;
		justify-content: space-evenly;
		align-items: center;
		height: 30%;
		margin-top: 4rem;
		> * {
			margin: 0;
		}
		.nav-link--highlighted {
			margin-top: 2rem;
		}
	}

	#back-button {
		position: absolute;
		top: 1rem;
		left: 1rem;

		@include tab-view() {
			left: 5rem;
		}
	}

	@include desktop-view() {
		transform: translateX(100%);
	}
}

.hide {
	transform: translateX(90vw);
}
