@import './variables';

.hero-section {
	display: flex;
	flex-flow: column;
	height: 100vh;
	width: 100vw;
	position: relative;
}

.hero-box {
	height: 100%;
	width: 100%;
	background: colors(primary-dark);
}

.hero-wavy {
	fill: colors(primary-dark);
}

.hero-box__feature-section {
	display: flex;
	position: absolute;
	background: #fff;
	height: 35vh;
	width: 80vw;
	margin-right: 0;
	top: 175px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 25px;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 21px -5px rgba(0, 0, 0, 0.25);

	@include tab-view() {
		top: 100px;
		max-width: 40vw;
	}
	@include desktop-view() {
		height: 40vh;
		min-width: 25vw;
		width: 25vw;
		top: 200px;
		left: 150px;
		transform: none;
	}
}

.hero-box__features {
	display: grid;
	margin: 1rem;
	height: 80%;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin-right: 0;
	grid-template-columns: 50% 40%;
	list-style: none;
}

.hero-box__feature {
	justify-self: center;
	align-self: center;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
}

.feature__remarks {
	width: 3rem;
	height: 100%;
}
// Feature Div Ends Here

.hero-box__image {
	display: none;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 5rem;

	img {
		width: 10rem;
	}

	@include tab-view() {
		display: block;
		img {
			width: 18rem;
		}
	}

	@include desktop-view() {
		right: 150px;
		top: 125px;
		transform: none;
		bottom: 0;
		img {
			width: 30rem;
		}
	}
}
