@import url('https://fonts.googleapis.com/css?family=Lilita+One|Roboto&display=swap');

@import './variables';

@import './header';
@import './hero';
@import './pricing';
@import './information';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	overflow-x: hidden;
}

i {
	cursor: pointer;
}

#backdrop {
	display: none;
	position: fixed;
	background: rgba(0, 0, 0, 0.4);
	height: 100vh;
	width: 100vw;
	z-index: 110;
	transition: 0.5s;
}
